body {
  font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

// <strong> without bold
strong.light {
  font-weight: normal;
  color: transparentize($gray-darkest, .1);
}
