$yellow:          #FFEE38;
$gray-lightest:   #f9f9f9;
$gray-lighter:    #ccc;
$gray-light:      #bbb;
$gray-medium:     #6c6c6c;
$gray-dark:       #696969;
$gray-darker:     #555;
$gray-darkest:    #252525;

$body-bg:         white;
$body-bg-alt:     $gray-lightest;
$body-color:      $gray-medium;
$body-color-alt:  $gray-medium;
